[submodule "External/NVorbis"]
	path = External/NVorbis
	url = git@github.com:project-grove/NVorbis.git
[submodule "External/OpenAL.NETCore"]
	path = External/OpenAL.NETCore
	url = git@github.com:project-grove/OpenAL.NETCore.git
